.header-container {
    display: flex;
    flex-direction: column;
    background-color: #5F6FFF;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    background-image:url('../assets/classroom.jpg');
    background-attachment:contain;
}

@media (min-width: 768px) {
    .header-container {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2.5rem 2.5rem;
    }
}

@media (min-width: 1024px) {
    .header-container {
        padding: 2.5rem 5rem;
    }
}

.header-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2.5rem 0;
    margin: auto;
}

@media (min-width: 768px) {
    .header-left {
        width: 50%;
        padding-top: 10vw;
        padding-bottom: 10vw;
        margin-bottom: -30px;
    }
}

.header-title {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
}

@media (min-width: 768px) {
    .header-title {
        font-size: 2.25rem;
    }
}

@media (min-width: 1024px) {
    .header-title {
        font-size: 3rem;
    }
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {
    .header-info {
        flex-direction: row;
        text-align: left;
    }
}

.header-profiles {
    width: 7rem;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #fff;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    color: #595959;
    font-size: 0.875rem;
    margin: auto;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.header-button:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .header-button {
        margin: 0;
    }
}

.header-arrow {
    width: 0.75rem;
}

.hidden-on-small {
    display: none;
}

@media (min-width: 640px) {
    .hidden-on-small {
        display: inline;
    }
}

.header-right {
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .header-right {
        width: 50%;
    }
}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .header-image {
        position: absolute;
        bottom: 0;
    }
}
