/* Navbar.css */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    padding: 1rem 0;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid #ADADAD;
  }

  .navbar-container p{
    font-size:2em;
  }
  
  .navbar-logo {
    display:inline-block;
    width: 1.1em;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: flex;
    align-items: flex-start;
    gap: 1.25rem;
    font-weight: 500;
    display: none;
  }
  
  .navbar-menu .nav-item {
    padding: 0.25rem 0;
  }
  
   .hritem {
    border: none;
    outline: none;
    height: 2px;
    background-color: rgb(95 111 255);
    width: 60%;
    margin: auto;
    display: none;
  }
  
  .navbar-user-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .navbar-user-section .user-avatar {
    width: 2rem;
    border-radius: 50%;
  }
  
  .navbar-user-section .dropdown-icon {
    width: 0.625rem;
  }
  
  .navbar-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: #4B4B4B;
    z-index: 20;
    display: none;
  }
  
  .navbar-user-section:hover .navbar-dropdown {
    display: block;
  }
  
  .navbar-dropdown .dropdown-item {
    padding: 1rem;
    cursor: pointer;
  }
  
  .navbar-login-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    font-weight: 300;
    display: none;
  }
  
  .navbar-menu-icon {
    width: 1.5rem;
    display: block;
  }
  
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: white;
    z-index: 20;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .mobile-menu.open {
    width: 100%;
  }
  
  .mobile-menu .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  
  .mobile-menu .menu-header .logo {
    width: 9rem;
  }
  
  .mobile-menu .menu-header .close-icon {
    width: 1.75rem;
    cursor: pointer;
  }
  
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.25rem;
    padding: 0 1.25rem;
    font-size: 1.125rem;
    font-weight: 500;
  }
  
  .mobile-menu .menu-item {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
  }
  
  .mobile-menu .menu-item:hover {
    background-color: var(--primary-color);
    color: white;
  }
  
  /* Media Query for larger screens */
  @media (min-width: 768px) {
    .navbar-menu {
      display: flex;
    }
    .navbar-login-btn {
      display: block;
    }
    .mobile-menu {
      display: none;
    }
  }
  