.top-doctors-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 4rem 0;
    color: #262626;
}

.top-doctors-title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.top-doctors-description {
    width: 100%;
    max-width: 33%;
    text-align: center;
    font-size: 0.875rem;
}

.top-doctors-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding-top: 1.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.doctor-card {
    border: 1px solid #c9d8ff;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.doctor-card:hover {
    transform: translateY(-10px);
}

.doctor-image {
    background-color: #eaefff;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.doctor-info {
    padding: 1rem;
}

.availability {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    text-align: center;
}

.available {
    color: #28a745;
}

.not-available {
    color: #6c757d;
}

.status-dot {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.dot-available {
    background-color: #28a745;
}

.dot-not-available {
    background-color: #6c757d;
}

.doctor-name {
    color: #262626;
    font-size: 1.125rem;
    font-weight: 500;
}

.doctor-speciality {
    color: #5c5c5c;
    font-size: 0.875rem;
}

.more-button {
    background-color: #eaefff;
    color: #6c757d;
    padding: 0.75rem 3rem;
    border-radius: 2rem;
    margin-top: 2.5rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.more-button:hover {
    background-color: #d4e1ff;
}
